body {
  background: #3f3f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  width: 300px;
  color: white;
  font: sans-serif;
}
input {
  padding: 8px 5px;
  outline: none;
  border-radius: 5px;
  border: 2px solid black;
  box-sizing: border-box;
  transition: 0.3s;
  width: -webkit-fill-available;
  margin: 2px 2px 2px 0px;
}
input:focus {
  border-color: whitesmoke;
}

button {
  padding: 10px;
  margin-bottom: 10px;
  width: -webkit-fill-available;
}
button {
  cursor: pointer;
}
button:active {
  opacity: 0.8;
}
button[disabled] {
  opacity: 0.7;
}
.clear {
  background: transparent;
  border: none;
  color: white;
}
.solid {
  background: white;
  border: none;
  color: black;
}
.outline {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.error {
  color: orangered;
  display: none;
  margin: 3px 0 0 1px;
}
.inputHeader {
  margin: 5px 5px 5px 1px;
}
